@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-green: #39a900;
  --color-dark-green: #007832;
  --color-blue: #00304D;
  --color-white: #F6F6F6;
  --color-gray: #e9e9e9;
  --color-dark-gray: #bebebe;
  --color-dark-gray-transparent: #80808075;
  --color-dark-gray-shadow: #8080801e;
  --color-black: #1a1a1a;
  --font-weight-title: 700;
  --font-weight-subtitle: 500;
  --font-weight-text: 400;
  --border-radius-box: 26px;
  --border-radius-box-2: 16px;
}

* {
  font-family: "Work sans", Arial;
  letter-spacing: -1.2px;
}

.competitions__box-general {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  padding: 5rem;
  min-height: 60vh;
  width: 60%;
  box-shadow: #1a1a1a;
  gap: 3rem;
  background-color: white;
  -webkit-box-shadow: 0px 4px 24px -14px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 4px 24px -14px rgba(0,0,0,0.6);
  box-shadow: 0px 4px 24px -14px rgba(0,0,0,0.6);
  border-radius: var(--border-radius-box-2);
  border: 1px solid var(--color-green);
  
}
.competitions__box-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

.competitions__box-icons-list {
  width: 4rem;
  height: auto;
}

.competitions__box-icons-list>img {
  width: 100%;
  height: 100%;
}

.competitions__box-title {
  font-size: 2rem;
  color: var(--color-white);
    width: auto;
    padding: .2rem 2rem;
    align-self: center;
    margin-bottom: 1.5rem;
  border-radius: var(--border-radius-box-3);
  background-color: var(--color-black);
}



.competitions__box-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, auto));
  gap: 3rem;
  background-color: transparent;
  justify-content: center;

}

.competitions__box-item {
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem,1fr));
  justify-content: space-between;
  -webkit-box-shadow: 0px 4px 24px -14px rgba(0,0,0,0.6);
-moz-box-shadow: 0px 4px 24px -14px rgba(0,0,0,0.6);
box-shadow: 0px 4px 24px -14px rgba(0,0,0,0.6);
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  height: 8rem;
  transition: all 0.5s;
  cursor: pointer;
    gap: 1fr;
    justify-self: center;
    width: 100%;
    padding: 1.6rem inset;
}
.competitions__box-name {
  transition: all 0.5s;
  display: inline;
  font-weight: var(--font-weight-text);
  background-color: var(--color-green);
  background-size: 1.1rem 100%;
  color: white;
  border-radius: var(--border-radius-box);
  width: auto;
  font-size: .9rem;
    padding: 0.5rem 1rem;
}

.competitions__box-item:hover {
    border: 1px solid var(--color-green);
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.212);
  transition: all 0.5s;
}


.competitions__box-item:hover .competitions__box-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -1rem;
  top: 1rem;
  border-radius: 0.7rem;
  width: 3.4rem;
  height: 2rem;
  background-color: var(--color-black);
  text-align: center;
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.425);
  animation: fadeIn 0.5s ease-in-out forwards;
  transition: all 0.3s;
}


.competitions__box-edit:hover {
  position: relative;
  width: 8rem;
  height: 2rem;
}

.competitions__box-button {
  border: dashed 2px black;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.5s;
  padding: 5%;
}

.competitions__box-button:hover {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.37);
}

.competitions__box-edit {
  padding: 3%;
  opacity: 0;
  display: none;

}

.competitions__box-edit:hover {
  cursor: pointer;
  transform: scale(1.25);
  font-weight: bold;
  font-size: 0.75rem;
}

.competitions__box-edit:hover .competitions__box-edit-title {
  display: inline;
  position: absolute;
}

.competitions__box-edit:hover .competitions__box-edit-icon {
  display: none;
}


.competitions__box-edit-title {
  color: var(--color-green);
  background-color: var(--color-black);
  display: none;
  margin: 10%;
}

.competitions__box-edit-icon {
  background: none;
  height: 100%;
  width: 100%;
  font-weight: 300;
  color: var(--color-green);

}


/* Definimos animaciones para entrada y salida */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Ocultamos el elemento después de la animación de salida */
.competitions__box-item:not(:hover) .competitions__box-edit {
  animation: fadeOut 0.3s ease-in-out forwards;
  /* Evita que siga interactuable antes de desaparecer */
}


/* css del exit */
.exit__general__box{
  position: fixed;
  z-index: 9998;
  right: 5%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.exit__general__box>div{
background-color: transparent;
}


.exit__general__box>div>a{
  all: unset;
  background: none;
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.5s;
  cursor: pointer;
}

.exit__general__box>div>a:hover{
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.37);
}