#banner__container {
    display: grid;
    width: 100vw;
    height: 50vh;
    background-color: var(--color-gray);
    overflow: hidden;
    position: relative; /* Asegura que el pseudo-elemento se posicione correctamente */
}

.banner__container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../img/banner-background-home.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    opacity: 1; 
    z-index: -1; 
}

.banner__perspective--text {
    perspective: 980px;
    display: grid;
    place-content: center;
    place-self: center;

}

#banner__container--title {
    font-weight: var(--font-weight-title);
    place-self: center;
    font-size: 5rem;
    color: var(--color-black);
    transform: rotateX(36deg);
    letter-spacing: -2px;
    text-align: center;
    animation: moveTitleBanner 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: -260px;

}

@keyframes moveTitleBanner {
    0%{
        transform: rotateX(36deg);
    }
    
    50%{
        transform: rotateX(-26deg);
        
    }
    100%{
        transform: rotateX(36deg);
    }
}
.decoration{
    position: absolute;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    pointer-events: none;
    
}
.decoration1{
    width: 12rem;
    height: auto;
    top: 200px;
    left: -30px;
    animation: decorationMove1 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes decorationMove1 {
    0%{
        transform: rotateZ(90deg);
    }
    25%{
        transform: rotateZ(105deg);
    }
    35%{
        transform: rotateZ(95deg);
    }
    55%{
        transform: rotateZ(85deg);
    }
    75%{
        transform: rotateZ(75deg);
    }
    100%{
        transform: rotateZ(90deg);
    }
}
