.recovery__container{
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    place-items: center;
    overflow: hidden;
    height: 100vh;
    background-color: var(--color-white);
}
.recovery__container--recovery{
    gap: 30px;
    display: grid;
    padding: 30px;
    width:30rem;
}
.recovery__container--recovery a{
    place-self: end;
    text-decoration: none;
    color: var(--color-black);
    font-size: .9rem;
    font-weight: var(--font-weight-subtitle);
}
.recovery__container--recovery input{
    width: 18%;
}
#remember_me:checked {
accent-color: var(--color-green);
}
.recovery__container-checkbox{
    display: flex;
    flex-direction: row;
    width: 40%;
}
.recovery__container-submit{
    width: auto;
    margin-top: 10px;
    border: 2px solid var(--color-black)
}
.recovery__container-passwordinput, .recovery__container-userinput{
    border: 1px solid var(--color-black);
    height: 2.4rem;
    border-radius: var(--border-radius-box-3);
    background-color: transparent;
    padding-left: 10px;
    outline: none;
    width: 100% !important;
    height: 2.8rem;
    font-size: 1rem;
}
.recovery__container--labelsubcontainer{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    min-width: 16rem;
    text-align: center;
}
.recovery__container--labelsubcontainer label, .standard-input-container label{
    position:absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-220%);
    color: var(--color-black);
    pointer-events: none;
    transition: .3s ease-in-out;
    font-size: 12px;
    background-color: var(--color-white);
    padding-left: 4px;
    padding-right: 4px;
}


.recovery__container--img{
    padding: 20px;
    height: 90vh;
    width: 80%;
}
.recovery__container--img img{
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius-box);
    
}
.recovery__container--figure1{
    position: absolute;
    width: 16rem;
    top: -30px;
    right: 85vw;
    filter: blur(2px);
    animation: decorationMove1 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    overflow: hidden;

}
.recovery__container--figure2{
    position: absolute;
    width: 22rem;
    bottom: 0;
    right: -100px;
    filter: blur(2px);
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform: rotateZ(0deg);
    overflow: hidden;
}
.recovery__container-submit{
    width: auto;
    height: 40px;
    cursor: pointer;
    font-weight: var(--font-weight-subtitle);
    padding: 4px 15px 5px 15px;
    place-content: center;
    place-items: center;
    text-align: center;
    border-radius: 12px;
    background-color: var(--color-green);
    transition: 0.1s ease-in-out;
    margin-top: 20px;
    transition: .1s ease-in-out;
    color: white;
}
.recovery__container-submit:hover{
    transform: scale(.97);
}
#recovery__backhome{
    cursor: pointer;
}

.recovery__form{
    place-items: start;
    display: grid;
    gap: 16px;
}
.recovery__h1{
    text-align: left;
}
@media screen and (max-width: 768px) {
        .recovery__container{
            display: grid;
            grid-template-columns: 1fr;
            box-sizing: border-box;
            width: 100vw;
            place-items: center;
            overflow: hidden;
            height: 100vh;
            background-color: var(--color-white);
            padding-bottom: 50px;
        }
        .recovery__container--recovery {
            gap: 30px;
            display: flex;
            padding: 30px;
            flex-direction: column;
            width: 80%;
}
        .recovery__container--img{
            display: none;
        }
        .recovery__container--figure2{
            right: 0;
            width: clamp(16rem, 30vw, 30rem);

        }
}
@media screen and (max-width: 1024px) {
        .recovery__container{
            box-sizing: border-box;
            display: grid;
            grid-template-columns: 1fr;
            box-sizing: border-box;
            width: 100vw;
            place-items: center;
            overflow: hidden;
            height: 100vh;
            background-color: var(--color-white);
            padding-bottom: 50px;
        }
        .recovery__container--recovery {
                        box-sizing: border-box;
            gap: 30px;
            display: flex;
            padding: 30px;
            flex-direction: column;
            width: 80%;
}
        .recovery__container--img{
            display: none;
        }
}