:root{
    --color-green: #39a900;
    --color-dark-green: #007832;
    --color-blue: #00304D;
    --color-white: #F6F6F6;
    --color-gray: #e9e9e9   ;
    --color-dark-gray: #bebebe;
    --color-black: #1a1a1a;
    --font-weight-title: 700;
    --font-weight-subtitle: 500;
    --font-weight-text: 400;
    --border-radius-box: 26px;
    --border-radius-box-2: 16px;
}
*{
    font-family: "Work sans", Arial;
    letter-spacing: -1.0px; /* -1.2 px */
    padding: 0;
    margin: 0;
}

.titulo_expertos{
    background-color: var(--color-black);
    padding: 20px;
    font-size: 2rem;
    border-radius: 20px;
    margin: 2rem;
}
.titulo_expertos h2, .titulo_expertos h3{
    background-color: transparent;
    color: white;
}

.crearExperto{
    cursor: pointer;
    background-color: rgb(96, 242, 93);
    padding: 1.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    font-size: 1rem;
    margin: 1.5rem 0rem 0rem ;
    border-radius: 20px;
    border: solid black 5rem;


}

