.login__container{
    display: grid;
    grid-template-columns: 40% 60%;
    place-items: center;
    overflow: hidden;
    height: 100vh;
    background-color: var(--color-white);
}
.login__container--login{
    gap: 30px;
    display: flex;
    padding: 30px;
    flex-direction: column;
    place-content: center;
    width:60%;
}
.login__container--login a{
    place-self: end;
    text-decoration: none;
    color: var(--color-black);
    font-size: .9rem;
    font-weight: var(--font-weight-subtitle);
}
.login__container--login input{
    width: 18%;
}
#remember_me:checked {
accent-color: var(--color-green);
}
.login__container-checkbox{
    display: flex;
    flex-direction: row;
    width: 40%;
}
.login__container-submit{
    width: 10rem;
    margin-top: 10px;

    border: 2px solid var(--color-black)
}
.login__container-passwordinput, .login__container-userinput{
    border: 1px solid var(--color-black);
    height: 2.4rem;
    border-radius: var(--border-radius-box-3);
    background-color: transparent;
    padding-left: 10px;
    outline: none;
    width: 100% !important;
    height: 2.8rem;
    font-size: 1rem;
}
.login__container--labelsubcontainer{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    min-width: 16rem;
    text-align: center;
}
.login__container--labelsubcontainer label, .standard-input-container label{
    position:absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-220%);
    color: var(--color-black);
    pointer-events: none;
    transition: .3s ease-in-out;
    font-size: 12px;
    background-color: var(--color-white);
    padding-left: 4px;
    padding-right: 4px;
}


.login__container--img{
    padding: 20px;
    height: 90vh;
    width: 80%;
}
.login__container--img img{
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius-box);
    
}
.login__container--figure1{
    position: absolute;
    width: 16rem;
    top: -30px;
    right: 45vw;
    filter: blur(2px);
    animation: decorationMove1 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    overflow: hidden;

}
.login__container--figure2{
    position: absolute;
    width: 22rem;
    bottom: 0;
    right: -100px;
    filter: blur(2px);
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform: rotateZ(0deg);
    overflow: hidden;
}
.login__container-submit{
    width: 100px;
    height: 40px;
    border: 3px solid var(--color-black);
    box-shadow: 2px 2px 0px var(--color-black);
    cursor: pointer;
    color: var(--color-black);
    font-weight: var(--font-weight-subtitle);
    padding: 4px 5px 5px 4px;
    place-content: center;
    place-items: center;
    text-align: center;
    border-radius: 12px;
    background-color: var(--color-green);
    transition: 0.1s ease-in-out;
}